.header {
  background-color: black;
  height: 75px;

  &-brand {
    color: #E50914;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 800;
  }

  &-searchbar {
    font-size: 30px;
    font-weight: 700;
    color: black;
    padding: 3rem 0;
  }
}

.searchbar {
  &-input {
    border: 0;
    background-color: transparent;
    color: white;
    border-bottom: 1px solid white;
    border-radius: 0;
    height: calc(2em + .75rem + 2px);
    font-size: 1.25rem;

    &:focus {
      color: white;
      background-color: transparent;
      border-color: white;
      outline: 0;
    }
  }
  &-button {
    font-size: 1.25rem;
    width: 200px;
    background-color: transparent;
    border-radius: 0;
    color: white;
    border: 1px solid white;
    &:hover {
      color: white;
    }
  }
}

.movies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &-cover {
    height: 22rem;
    width: 100%;
    object-fit: cover;
  }

  &-title {
    text-align: center;
    font-weight: 600;
    margin: 0;
  }

  &-card {
    width: 250px;
    height: 100%;
    position: relative;
    margin: 0.8em;
    // cursor: pointer;
    transition: all .3s;

    &:hover {
      box-shadow: 0 0 24px 0 rgba(229, 9, 20, 0.7);
    }
  }
}